.ui-button {
  display: flex;
  flex: 1;

  button {
    position: relative;
    flex: 1;
    background: darken($background, 5%);
    border: 0;
    outline: none;
    padding: .78571429em 1.5em .78571429em;
    border-radius: 0.2rem;
    cursor: pointer;
    color: $text;
    transition: all 0.2s;
    font-size: 1rem;
    font-weight: bold;
    overflow: hidden;

    &:hover, &:active {
      background: darken($background, 10%);
      color: darken($text, 10%);
    }
  }
}

.ui-button.primary {
  button {
    background: #2185d0;
    color: #fefefe;

    &:hover, &:active {
      background: darken(#2185d0, 10%);
    }
  }
}

.ui-button.positive {
  button {
    background: #21ba45;
    color: #fefefe;

    &:hover, &:active {
      background: darken(#21ba45, 10%);
    }
  }
}

.ui-button.negative {
  button {
    background: #db2828;
    color: #fefefe;

    &:hover, &:active {
      background: darken(#db2828, 10%);
    }
  }
}

.ui-button.orange {
  button {
    background: #ff851b;
    color: #fefefe;

    &:hover, &:active {
      background: darken(#ff851b, 10%);
    }
  }
}

.ui-button.violet {
  button {
    background: #8a73ff;
    color: #fefefe;

    &:hover, &:active {
      background: darken(#8a73ff, 10%);
    }
  }
}

.ui-button.labeled {
  button {
    padding-left: 3.8rem;

    i {
      position: absolute;
      left: 0;
      top: 0;
      background: rgba(0, 0, 0, 0.2);
      padding: 0.86rem 0.7rem;
    }
  }
}

.ui-button.small {
  button {
    font-size: 0.7rem;
  }
}

.ui-button.big {
  button {
    font-size: 1.2rem;
  }
}

// Mobile query
@media only screen and (max-width: $mobileScreenWidth) {
  .ui-button.small-mobile {
    button {
      font-size: 0.7rem;
    }
  }

  .ui-button.big-mobile {
    button {
      font-size: 1.2rem;
    }
  }
}

// Wide query
@media only screen and (min-width: $wideScreenWidth) {
  .ui-button.small-wide {
    button {
      font-size: 0.7rem;
    }
  }

  .ui-button.big-wide {
    button {
      font-size: 1.2rem;
    }
  }
}

.button-group {
  display: flex;

  .ui-button {
    flex: 1;

    &:first-child > button {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child > button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:not(:first-child):not(:last-child) > button {
      border-radius: 0;
    }
  }

  &.border {
    border: 1px solid darken($background, 25%);
    overflow: hidden;
    border-radius: 0.2rem;

    .ui-button {
      border-right: 1px solid darken($background, 25%);

      &:last-child {
        border-right: 0;
      }
    }
  }

  &.round {
    border-radius: 2rem;
  }
}