.row {
  display: block;
  float: left;
  width: 100%;
}

.flex-row {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: $mobileScreenWidth) {
  .row {
    @for $i from 1 through 16 {
      .col-mobile-#{$i} {
        float: left;
        width: $i * (100 / 16) * 1%;
      }
    }
  }
}

@media only screen and (min-width: $tabletScreenWidth) {
  .row {
    @for $i from 1 through 16 {
      .col-tablet-#{$i} {
        float: left;
        width: $i * (100 / 16) * 1%;
      }
    }
  }
}

@media only screen and (min-width: $desktopScreenWidth) {
  .row {
    @for $i from 1 through 16 {
      .col-desktop-#{$i} {
        float: left;
        width: $i * (100 / 16) * 1%;
      }
    }
  }
}

@media only screen and (min-width: $wideScreenWidth) {
  .row {
    @for $i from 1 through 16 {
      .col-wide-#{$i} {
        float: left;
        width: $i * (100 / 16) * 1%;
      }
    }
  }
}