.grid {
  display: grid;
}

.gap-10 {
  grid-gap: 10px;
}

.row {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  width: 100%;
}

.flex-row {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: $mobileScreenWidth) {
  .row {
    @for $i from 1 through 16 {
      .col-mobile-#{$i} {
        grid-column: span $i;
      }
    }
  }
}

@media only screen and (min-width: $tabletScreenWidth) {
  .row {
    @for $i from 1 through 16 {
      .col-tablet-#{$i} {
        grid-column: span $i;
      }
    }
  }
}

@media only screen and (min-width: $desktopScreenWidth) {
  .row {
    @for $i from 1 through 16 {
      .col-desktop-#{$i} {
        grid-column: span $i;
      }
    }
  }
}

@media only screen and (min-width: $wideScreenWidth) {
  .row {
    @for $i from 1 through 16 {
      .col-wide-#{$i} {
        grid-column: span $i;
      }
    }
  }
}