.ui-input {
  flex: 1;
  display: flex;
  padding: 0.65em 1em;
  background: $background;
  border: 1px solid rgba(34, 36, 38, .15);
  border-radius: 0.2rem;
  align-items: center;

  i {
    font-size: 1rem;
    margin-right: 0.65rem;
    color: lighten($text, 25%);
    transition: color 0.2s;
  }

  label {
    margin-bottom: 5px;
    font-size: 12px;
  }

  input, textarea {
    flex: 1;
    border: 0;
    // padding: 5px;
    padding: 0;
    background: no-repeat;
    border-radius: 2px;
    color: $text;
    outline: none;
    transition: border, background 0.2s;
    font-size: 1rem;

    &:focus {
      border: 0;
    }

    &::placeholder {
      color: lighten($text, 50%);
    }
  }

  &:focus-within {
    i {
      color: rgba(0, 0, 0, 1);
    }

    border-color: #85b7d9;
  }
}

.ui-input.preload {
  background: darken($background, 5%);
}