.ui-message {
  font-size: 0.8rem;
  background: #f3f3f3;
  border-radius: 0.2rem;
  line-height: 1.4rem;
  padding: 0.5rem 1rem;
  color: darken(#f3f3f3, 40%);
  border: 1px solid currentColor;

  b {
    background: darken(#f3f3f3, 5%);
    padding: 0.1rem 0.3rem;
    border-radius: 0.2rem;
    font-size: 0.7rem;
  }
}

.ui-message.primary {
  background-color: #d0e7ff;
  color: darken(#d0e7ff, 40%);

  b {
    background: darken(#d0e7ff, 5%);
  }
}

.ui-message.positive {
  background-color: #ccffae;
  color: #469815;

  b {
    background: #8eea56;
  }
}

.ui-message.negative {
  background-color: #ffbbbb;
  color: darken(#ffbbbb, 40%);

  b {
    background: darken(#ffbbbb, 5%);
  }
}