.ui-pagination {
  display: flex;
  justify-content: space-between;

  button {
    cursor: pointer;

    background: darken($background, 5%);
    border: 1px solid darken($background, 10%);
    border-radius: 0.25rem;
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    color: $text;
    outline: none;

    &:active {
      opacity: 0.9;
      position: relative;
      top: 1px;
      border: 1px solid darken($background, 15%);
    }
  }
}