.ui-radio-group {
  .item-container {
    margin-bottom: 20px;
    cursor: pointer;

    .item {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 1.5rem;
      border: 2px solid lighten($text, 40%);
      display: flex;
      align-items: center;
      justify-content: center;

      > div {
        display: none;
        width: 0.8rem;
        height: 0.8rem;
        border-radius: 0.8rem;
        background: lighten($text, 20%);
      }

      &.active {
        > div {
          display: block;
        }
      }
    }

    span {
      margin-left: 1rem;
    }
  }
}