.ui-table {
  border: 1px solid darken($background, 20%);
  border-radius: 0.2rem;

  .header {
    display: flex;
    background: darken($background, 5%);
    border-bottom: 1px solid darken($background, 20%);

    > div {
      padding: 0.5rem;
      flex: 1;
      text-transform: capitalize;
      border-right: 1px solid darken($background, 10%);
      font-weight: bold;

      &:last-child {
        border-right: 0;
      }
    }
  }

  .body {
    > div {
      display: flex;
      border-bottom: 1px solid darken($background, 10%);

      > div {
        padding: 0.5rem;
        border-right: 1px solid darken($background, 10%);

        &:last-child {
          border-right: 0;
        }
      }

      &:nth-child(2n) {
        background: darken($background, 3%);
      }

      &:last-child {
        border-bottom: 0;
      }
    }
  }
}