$background: #000000;
$text: #dcdcdc;

.ui-theme.theme-dark {
  background: $background;
  color: $text;

  .ui-button {
    button {
      background: lighten($background, 35%);
      color: rgba(255, 255, 255, 0.6);
    }
  }

  .ui-button.primary {
    button {
      background: #cc4063;
    }
  }

  .ui-block {
    background: lighten($background, 20%);
  }

  .ui-input {
    background: $background;

    i {
      color: darken($text, 35%);
    }

    input, textarea {
      color: $text;

      &::placeholder {
        color: $text;
      }
    }
  }

  .ui-checkbox {
    border: 1px solid darken($text, 20%);
    background: $background;
  }

  .ui-dropdown {
    background: $background;

    span, i {
      color: $text;
    }

    .items {
      > div {
        background: lighten($background, 20%);
      }
    }
  }

  .ui-dropdown-elements, .ui-dropdown-elements-hide {
    background: $background;
    color: $text;

    > div {
      background: $background;
      color: $text;
    }
  }

  .ui-tab {
    border: 1px solid $background;

    .items {
      > div {
        background: $background;

        &.active {
          background: #cc4063;
          color: #fefefe;
        }
      }
    }
  }
}